.header {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    background: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #DCD6EA;
    position: fixed;
    z-index: 3;
}

.header-inner {
    display: flex;
    width: 1172px;
    justify-content: space-between;
}

.header_item {
    flex: 1;
    display: flex;
    align-items: center;
}

.header_item-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    flex: 1;
}

.resume {
    display: flex;
    align-items: center;
    gap: 8px;
}

.resume > svg {
    cursor: pointer;
}

.resume:hover > .small-text {
    color: #89559A;
}

.resume:hover > svg > path {
    stroke: #89559A;
}

.download-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
    margin-left: 8px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
    height: 100vh;
    width: 100%;
}

.main-inform {
    display: flex;
    background: #FDFDFD;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 160px 0 40px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    width: 100%;
}

.main-inform_inner {
    width: 1172px;
    gap: 24px;
    display: flex;
    align-items: center;
}

.main-body {
    display: flex;
    gap: 28px;
    max-width: 1172px;
    padding: 40px 0 120px 0;
}

.main-about-me {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 572px;
    gap: 16px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 28px;
}

.card {
    min-width: 572px;
    width: 572px;
    min-height: 424px;
    height: 424px;
    background: #FDFDFD;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    padding: 24px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.04);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

.card_header {
    margin-bottom: 16px;
}

.card_title {
    margin-bottom: 8px;
}

.image-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 48px;
}

.card_image {
    height: 212px;
}

